*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

#contenido{
	max-width: 900px;
	margin:1% auto;
	align-content: center;
}

/*Cabecera*/

header{
	width: 100%;
	display: flex;
	background-color: #5b7989;
	border-radius: 10px 10px 0px 0px;
	-webkit-border-radius:10px 10px 0px 0px;
	-moz-border-radius: 10px 10px 0px 0px;
  display: flex;
  flex-flow: row wrap;
  animation: slideanimacion 1.5s;
	}

#titulo{
	width: 50%;
	color:white;
	display: inline-block;
	padding:2% 0 2% 2%;
	text-shadow: 2px 2px #02010a;
	float:left;
  font-family: 'Dancing Script', cursive;
  font-size:1em;
  font-weight: 400;
  letter-spacing: 1.5;
}

#titulo a{
  color:white;
  text-decoration: none;
}

navbar{
	float:right;
	padding:3% 4% 0% 15%;
	text-align:right;
	color:white;
	word-spacing: 1.875em;
  width:50%;
}

navbar a{
	color:white;
	text-decoration: none;
	font-size: 1.2em;
  width: 100%;
}

body{
  font-family: 'Dancing Script', cursive;
  background-color: #02010a;
}

/*Imagen central*/

section {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

section img{
    display: block;
    margin: 0 auto;
}

#imagen1{
	align-content: center;
	background-color: #82c3a6;
  padding:2%;
  width: 100%;
}

#imagen img{
  align-content: center;
  width:100%;
  box-shadow: 2px 2px  2px #02010a;
  -webkit-filter:box-shadow:2px 2px 2px #02010a;
}

/*Imagen 2*/

#imagen2{
  align-content: center;
  background-color:#d5c75f;
  width: 100%;
}

#paisajes img{
  width: 100%;
  margin-bottom: 5px;
  border:2px solid #7c7238;
  box-shadow: 2px 2px  2px #02010a;
  -webkit-filter:box-shadow:2px 2px 2px #02010a;
}

#paisajes img:hover{
  -webkit-transform:rotate(10deg);
  transform: rotate(10deg);
  border:2px solid #82c3a6;
}

#retratos img{
  width: 100%;
  align-content: left;
  border:2px solid #7c7238;
  box-shadow: 2px 2px  2px #02010a;
  -webkit-filter:box-shadow:2px 2px 2px #02010a;
}

#retratos img:hover{
  -webkit-transform:rotate(10deg);
  transform: translate(20px,-5px);
  border:2px solid #82c3a6;
}

#paisajes, #retratos{
  text-align: center;
  padding:2%;
  width: 50%;
}

#paisajes a,#retratos a{
  color:black;
  font-weight: 600;
	text-decoration: none;
}

#paisajes img, #retratos img{
  transition: transform;
  transition-duration: 1.5s;
}

/*Footer*/

footer{
	width: 100%;
	display: flex;
  flex-flow: row wrap;
	background-color: #C6d5c5;
	border-radius: 0px 0px 10px 10px;
	-webkit-border-radius:0px 0px 10px 10px;
	-moz-border-radius: 0px 0px 10px 10px;
	}

.contacto,.terminos,.redes-sociales,.derechos{
  width:25%;
  padding:2%;
}

footer h2{
  font-weight: bold;
    line-height: 1.6;
}

footer a{
  text-decoration: none;
  color:black;
  line-height: 1.5;
}

footer p{

  line-height: 1.5;
}

.contacto a{
  text-decoration:none;
  color: black;
}

/*Página Paisajes*/

/*Galería*/

#galeria{
  background-color: #d5c75f;
  width: 100%;
}

#galeria img{
  box-shadow: 2px 2px  2px #02010a;
  -webkit-filter:box-shadow:2px 2px 2px #02010a;
}

#paisaje1, #paisaje2, #paisaje3, #paisaje4, #paisaje5, #paisaje6{
  width:33.3%;
    text-align: center;
    padding: 1.5%;
}

#paisaje1{
  -webkit-filter: blur(10px);
  filter: blur(10px);
}

#paisaje2, #paisaje4, #paisaje6{
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
}

#paisaje3{
  -webkit-filter: sepia(90%);
  filter: sepia(90%);
}


/*Retratos*/

#retrato1, #retrato2, #retrato3, #retrato4, #retrato5, #retrato6{
  width:33.3%;
    text-align: center;
    padding: 1.5%;
}

#retrato1{
  -webkit-filter: blur(10px);
  filter: blur(10px);
}

#retrato2, #retrato4, #retrato6{
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
}

#retrato3{
  -webkit-filter: sepia(90%);
  filter: sepia(90%);
}

/*Animación web*/

@keyframes slideanimacion {
  0% {margin-top:150%}
  60% {margin-top: -5%}
  100% {margin-top: 0%}
}

/*Responsive*/

@media all and (max-width: 899px){
  #contenido{
    width: 100%;
  }

  #header{
    width: 100%;
    flex-direction: column;
  }

  #titulo {
    width: 100%;
    text-align: center;
    padding-bottom: 2%;
    padding-top: 2%;
  }

  navbar{
    width: 100%;
    text-align: center;
    padding-bottom: 2%;
    padding-top: 2%;
  }

  /*Index Responsive*/

  #paisajes, #retratos{
    width: 100%;
  }

  /*Footer Responsive*/

  .contacto, .terminos, .redes-sociales, .derechos {
      width: 100%;
      padding: 4%;
  }

  .redes-sociales img{
    width:6%;
  }

  /*Paisajes Responsive*/

  #galeria {
    width: 100%;
  }

  #paisaje1, #paisaje2, #paisaje3, #paisaje4, #paisaje5, #paisaje6 {
    width: 100%;
    text-align: center;
    padding: 5%;
  }

  /*Retratos Responsive*/

  #retrato1, #retrato2, #retrato3, #retrato4, #retrato5, #retrato6 {
    width: 100%;
    text-align: center;
    padding: 5%;
  }
